<div class="header-fixed">
  <div class="header-title">
    <h1 class="style-script-regular">{{ 'CONFIGURATION' | translate }}</h1>
  </div>
  <div class="header-buttons">
    <div class="custom-select-wrapper">
      <div class="custom-select" [class.open]="dropdownOpen" (click)="dropdownOpen = !dropdownOpen">
        <span>{{ selectedLang === 'es' ? 'Español' : 'English' }}</span>
        <span class="arrow">▼</span>
      </div>
      <ul class="custom-options" *ngIf="dropdownOpen">
        <li
          class="option"
          [class.selected]="selectedLang === 'es'"
          (click)="selectLang('es'); $event.stopPropagation()"
        >
          Español
        </li>
        <li
          class="option"
          [class.selected]="selectedLang === 'en'"
          (click)="selectLang('en'); $event.stopPropagation()"
        >
          English
        </li>
      </ul>
    </div>

    <button class="header-btn" (click)="showNetworkIntelligence = true">
      <span class="material-symbols-outlined"> network_intelligence </span>
    </button>
    <button class="header-btn" (click)="showThemeSelector = true">
      <span class="material-symbols-outlined"> palette </span>
    </button>
    <button class="header-btn" (click)="printDocument()">
      <span class="material-symbols-outlined"> print </span>
      {{ 'GENERATE_PDF_PRINT' | translate }}
    </button>
  </div>
</div>

<div id="contentToPrint" class="printable-area">
  <div id="cv" class="cv-container d-flex">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Henny+Penny&family=Luxurious+Script&family=Meow+Script&family=Rouge+Script&family=Style+Script&display=swap"
      rel="stylesheet"
    />

    <div class="cv-left p-4 text-white">
      <div class="text-center mb-4">
        <img
          [src]="'assets/' + currentTheme.replace('theme-', '') + '.jpg'"
          class="profile-img"
          alt="foto"
        />
        <h1 class="style-script-regular">{{ data.name }}</h1>
        <h5 class="data-title">{{ data.title[translate.currentLang] }}</h5>
      </div>
      <h5 class="section-title">{{ 'CONTACT' | translate }}</h5>
      <div class="contact-list-container">
        <div class="contact-item">
          <span class="material-symbols-outlined contact-icon"> contact_phone </span>
          <span class="size">{{ data.phone }}</span>
        </div>

        <div class="contact-item">
          <span class="material-symbols-outlined contact-icon"> mail </span>
          <span class="size">{{ data.email }}</span>
        </div>

        <div class="contact-item">
          <span class="material-symbols-outlined contact-icon"> location_on </span>
          <span class="size">{{ data.city[translate.currentLang] }}</span>
        </div>

        <div class="contact-item">
          <span class="material-symbols-outlined contact-icon"> fork_right </span>
          <a [href]="data.github" class="link-color size" target="_blank">{{ data.github }}</a>
        </div>

        <div class="contact-item">
          <span class="material-symbols-outlined contact-icon"> link </span>
          <a [href]="data.linkedin" class="link-color size" target="_blank">{{ data.linkedin }}</a>
        </div>
      </div>

      <h5 class="section-title">{{ 'SKILLS' | translate }}</h5>
      <div class="skills-container">
        <div *ngFor="let skill of data.skills" class="skill-item">
          <span class="skill-name size">{{ skill.name }}</span>

          <div class="skill-level-display">
            <div class="circular-progress" [style]="getProgressStyle(skill.level)"></div>
            <span class="percentage">{{ skill.level }}%</span>
          </div>
        </div>
      </div>

      <h5 class="section-title">{{ 'LANGUAGES' | translate }}</h5>
      <div *ngFor="let lang of data.languages" class="language-item">
        <span class="lang-name size">{{ lang.language[translate.currentLang] }}</span>

        <span class="stars">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <span class="star" [class.filled]="i < lang.level">★</span>
          </ng-container>
        </span>
        <span class="percentage">{{ lang.level * 20 }}%</span>
      </div>
    </div>

    <div class="cv-right p-4">
      <h4 class="section-header section-title-right">{{ 'PROFESSIONAL_SUMMARY' | translate }}</h4>
      <p class="size margin-p">{{ data.description[translate.currentLang] }}</p>
      <h4 class="section-header section-title-right mt-4">{{ 'EXPERIENCE' | translate }}</h4>
      <div class="type-container">
        <div *ngFor="let exp of data.experience" class="achievement-item mb-3">
          <strong class="strong-color size">{{ exp.role[translate.currentLang] }}</strong>
          <span class="size">- {{ exp.company[translate.currentLang] }}</span>
          <h6 class="style-script-regular-small">{{ exp.years[translate.currentLang] }}</h6>
          <ul class="ul">
            <li *ngFor="let t of exp.tasks[translate.currentLang]" class="size">{{ t }}</li>
          </ul>
        </div>
      </div>
      <h4 class="section-header section-title-right mt-4">{{ 'EDUCATION' | translate }}</h4>
      <div class="type-container">
        <div *ngFor="let education of data.education" class="achievement-item education-row mb-3">
          <div class="left-col">
            <strong class="strong-color size">{{ education.degree[translate.currentLang] }}</strong>
            <span class="size">{{ education.years[translate.currentLang] }}</span>
          </div>
          <div class="right-col">
            <span class="size">{{ education.institution[translate.currentLang] }}</span>
            <span class="style-script-regular-small">{{
              education.location[translate.currentLang]
            }}</span>
          </div>
        </div>
      </div>
      <h4 class="section-header section-title-right mt-4">{{ 'ACHIEVEMENTS' | translate }}</h4>
      <div class="type-container">
        <div *ngFor="let achievement of data.achievements" class="achievement-item mb-3">
          <strong class="strong-color d-block size">{{
            achievement.title[translate.currentLang]
          }}</strong>
          <span class="size">{{ achievement.company[translate.currentLang] }}</span>
          <span class="style-script-regular-small">
            ({{ achievement.year[translate.currentLang] }})</span
          >
        </div>
      </div>
      <h4 class="section-header section-title-right mt-4">{{ 'CERTIFICATIONS' | translate }}</h4>
      <div class="type-container">
        <div
          *ngFor="let cert of data.certifications"
          class="achievement-item certification-row mb-3"
        >
          <div class="left-col-certification">
            <strong class="strong-color size">{{ cert.year[translate.currentLang] }}</strong>
            <span class="size">{{ cert.hours[translate.currentLang] }}</span>
          </div>
          <div class="right-col-certification">
            <span class="size">{{ cert.name[translate.currentLang] }}</span>
            <span class="style-script-regular-small">{{ cert.issuer[translate.currentLang] }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="theme-modal" *ngIf="showThemeSelector">
  <div class="theme-modal-content">
    <div class="contact-itemAI modal-header-title">
      <span class="ai-title">
        {{ 'SELECT_THEME' | translate }}
      </span>
      <span class="material-symbols-outlined close-icon" (click)="showThemeSelector = false">
        close
      </span>
    </div>
    <div class="theme-grid">
      <div class="theme-card red" (click)="changeTheme('theme-red'); showThemeSelector = false">
        <h4>{{ 'RED' | translate }}</h4>
        <div class="tags">
          <span class="span-color red">Energy</span>
          <span style="background-color: white; color: #500a0a; font-weight: bold">Passion</span>
          <span class="span-color red">Danger</span>
        </div>
      </div>

      <div class="theme-card pink" (click)="changeTheme('theme-pink'); showThemeSelector = false">
        <h4>{{ 'PINK' | translate }}</h4>
        <div class="tags">
          <span class="span-color pink">Energy</span>
          <span style="background-color: white; color: #900d39; font-weight: bold">Passion</span>
          <span class="span-color pink">Danger</span>
        </div>
      </div>

      <div class="theme-card green" (click)="changeTheme('theme-green'); showThemeSelector = false">
        <h4>{{ 'GREEN' | translate }}</h4>
        <div class="tags">
          <span class="span-color green">Energy</span>
          <span style="background-color: white; color: #223f02; font-weight: bold">Passion</span>
          <span class="span-color green">Danger</span>
        </div>
      </div>

      <div class="theme-card blue" (click)="changeTheme('theme-blue'); showThemeSelector = false">
        <h4>{{ 'BLUE' | translate }}</h4>
        <div class="tags">
          <span class="span-color blue">Energy</span>
          <span style="background-color: white; color: #0d1626; font-weight: bold">Passion</span>
          <span class="span-color blue">Danger</span>
        </div>
      </div>

      <div
        class="theme-card purple"
        (click)="changeTheme('theme-purple'); showThemeSelector = false"
      >
        <h4>{{ 'PURPLE' | translate }}</h4>
        <div class="tags">
          <span class="span-color purple">Energy</span>
          <span style="background-color: white; color: #4a148c; font-weight: bold">Passion</span>
          <span class="span-color purple">Danger</span>
        </div>
      </div>

      <div
        class="theme-card orange"
        (click)="changeTheme('theme-orange'); showThemeSelector = false"
      >
        <h4>{{ 'ORANGE' | translate }}</h4>
        <div class="tags">
          <span class="span-color orange">Energy</span>
          <span style="background-color: white; color: #89580f; font-weight: bold">Passion</span>
          <span class="span-color orange">Danger</span>
        </div>
      </div>

      <div
        class="theme-card yellow"
        (click)="changeTheme('theme-yellow'); showThemeSelector = false"
      >
        <h4>{{ 'YELLOW' | translate }}</h4>
        <div class="tags">
          <span class="span-color yellow">Energy</span>
          <span style="background-color: white; color: #918304; font-weight: bold">Passion</span>
          <span class="span-color yellow">Danger</span>
        </div>
      </div>

      <div class="theme-card black" (click)="changeTheme('theme-black'); showThemeSelector = false">
        <h4>{{ 'BLACK' | translate }}</h4>
        <div class="tags">
          <span class="span-color black">Energy</span>
          <span style="background-color: white; color: #7a6e6e; font-weight: bold">Passion</span>
          <span class="span-color black">Danger</span>
        </div>
      </div>

      <div class="theme-card brown" (click)="changeTheme('theme-brown'); showThemeSelector = false">
        <h4>{{ 'BROWN' | translate }}</h4>
        <div class="tags">
          <span class="span-color brown">Energy</span>
          <span style="background-color: white; color: #3e2723; font-weight: bold">Passion</span>
          <span class="span-color brown">Danger</span>
        </div>
      </div>

      <div class="theme-card aqua" (click)="changeTheme('theme-aqua'); showThemeSelector = false">
        <h4>{{ 'AQUA' | translate }}</h4>
        <div class="tags">
          <span class="span-color aqua">Energy</span>
          <span style="background-color: white; color: #006064; font-weight: bold">Passion</span>
          <span class="span-color aqua">Danger</span>
        </div>
      </div>

      <div
        class="theme-card greenyellow"
        (click)="changeTheme('theme-greenyellow'); showThemeSelector = false"
      >
        <h4>{{ 'GREENYELLOW' | translate }}</h4>
        <div class="tags">
          <span class="span-color greenyellow">Energy</span>
          <span style="background-color: white; color: #466126; font-weight: bold">Passion</span>
          <span class="span-color greenyellow">Danger</span>
        </div>
      </div>

      <div
        class="theme-card royalblue"
        (click)="changeTheme('theme-royalblue'); showThemeSelector = false"
      >
        <h4>{{ 'ROYALBLUE' | translate }}</h4>
        <div class="tags">
          <span class="span-color royalblue">Energy</span>
          <span style="background-color: white; color: #0d47a1; font-weight: bold">Passion</span>
          <span class="span-color royalblue">Danger</span>
        </div>
      </div>

      <div
        class="theme-card mistyrose"
        (click)="changeTheme('theme-mistyrose'); showThemeSelector = false"
      >
        <h4>{{ 'MISTYROSE' | translate }}</h4>
        <div class="tags">
          <span class="span-color mistyrose">Energy</span>
          <span style="background-color: white; color: #b36a85; font-weight: bold">Passion</span>
          <span class="span-color mistyrose">Danger</span>
        </div>
      </div>

      <div
        class="theme-card deeppink"
        (click)="changeTheme('theme-deeppink'); showThemeSelector = false"
      >
        <h4>{{ 'DEEPPINK' | translate }}</h4>
        <div class="tags">
          <span class="span-color deeppink">Energy</span>
          <span style="background-color: white; color: #4e031f; font-weight: bold">Passion</span>
          <span class="span-color deeppink">Danger</span>
        </div>
      </div>

      <div
        class="theme-card sandybrown"
        (click)="changeTheme('theme-sandybrown'); showThemeSelector = false"
      >
        <h4>{{ 'SANDYBROWN' | translate }}</h4>
        <div class="tags">
          <span class="span-color sandybrown">Energy</span>
          <span style="background-color: white; color: #5b4000; font-weight: bold">Passion</span>
          <span class="span-color sandybrown">Danger</span>
        </div>
      </div>

      <div class="theme-card gray" (click)="changeTheme('theme-gray'); showThemeSelector = false">
        <h4>{{ 'GRAY' | translate }}</h4>
        <div class="tags">
          <span class="span-color gray">Energy</span>
          <span style="background-color: white; color: #262323; font-weight: bold">Passion</span>
          <span class="span-color gray">Danger</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="theme-modal" *ngIf="showNetworkIntelligence">
  <div class="theme-modal-content">
    <div class="contact-itemAI modal-header-title">
      <span class="ai-title">
        {{ 'ANALYZE_IA' | translate }}
      </span>
      <span class="material-symbols-outlined close-icon" (click)="showNetworkIntelligence = false">
        close
      </span>
    </div>
    <div class="theme-grid">
      <textarea
        style="height: 300px"
        [(ngModel)]="jobDescription"
        placeholder="{{ 'JOB_DESCRIPTION' | translate }}"
      ></textarea>
    </div>
    <div style="padding-top: 10px; direction: rtl">
      <button class="span-color" (click)="processWithAI()">{{ 'ANALYZE_IA' | translate }}</button>
    </div>
  </div>
</div>

<div *ngIf="resultAI">
  <h3>CV Optimizado</h3>
  <pre>{{ resultAI | json }}</pre>
</div>
