<div id="cv" class="cv-container d-flex">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Henny+Penny&family=Luxurious+Script&family=Meow+Script&family=Rouge+Script&family=Style+Script&display=swap"
    rel="stylesheet"
  />

  <div class="cv-left p-4 text-white">
    <div class="text-center mb-4">
      <img
        [src]="'assets/' + currentTheme.replace('theme-', '') + '.jpg'"
        class="profile-img"
        alt="foto"
      />
      <h1 class="style-script-regular">{{ data.name }}</h1>
      <h5>{{ data.title }}</h5>
    </div>
    <h5 class="section-title">{{ 'CONTACT' | translate }}</h5>
    <p><span class="material-symbols-outlined color"> contact_phone </span> {{ data.phone }}</p>
    <p><span class="material-symbols-outlined color"> mail </span> {{ data.email }}</p>
    <p><span class="material-symbols-outlined color"> location_on </span> {{ data.city }}</p>
    <p>
      <span class="material-symbols-outlined color"> fork_right </span>
      <a class="link-color" [href]="data.github" target="_blank">{{ data.github }}</a>
    </p>
    <p>
      <span class="material-symbols-outlined color"> link </span>
      <a class="link-color" [href]="data.linkedin" target="_blank">{{ data.linkedin }}</a>
    </p>
    <h5 class="section-title">{{ 'SKILLS' | translate }}</h5>
    <ul>
      <li *ngFor="let skill of data.skills">{{ skill }}</li>
    </ul>

    <h5 class="section-title">{{ 'LANGUAGES' | translate }}</h5>
    <ul>
      <li *ngFor="let lang of data.languages">{{ lang }}</li>
    </ul>
  </div>

  <div class="cv-right p-4">
    <h4 class="section-header">{{ 'PROFESSIONAL_SUMMARY' | translate }}</h4>
    <p>{{ data.description }}</p>
    <h4 class="section-header mt-4">{{ 'EXPERIENCE' | translate }}</h4>
    <div *ngFor="let exp of data.experience" class="mb-3">
      <strong class="strong-color">{{ exp.role }}</strong>
      - {{ exp.company }}
      <h6 class="style-script-regular-small">{{ exp.years }}</h6>
      <ul>
        <li *ngFor="let t of exp.tasks">{{ t }}</li>
      </ul>
    </div>
  </div>
</div>
<button (click)="changeTheme('theme-pink')">Rosa</button>
<button (click)="changeTheme('theme-green')">Verde</button>
<button (click)="changeTheme('theme-blue')">Azul</button>
<button (click)="changeTheme('theme-purple')">purpura</button>
<button (click)="changeTheme('theme-orange')">Naranja</button>
<button (click)="changeTheme('theme-yellow')">Amarillo</button>
<button (click)="changeTheme('theme-black')">Negro</button>
<button (click)="changeTheme('theme-brown')">marron</button>
<button (click)="changeTheme('theme-aqua')">celeste</button>
<button (click)="changeTheme('theme-greenyellow')">verde bajo</button>
<button (click)="changeTheme('theme-red')">rojo</button>
<button (click)="changeTheme('theme-royalblue')">azul real</button>
<button (click)="changeTheme('theme-mistyrose')">rosa pálido</button>
<button (click)="changeTheme('theme-deeppink')">rosa intenso</button>
<button (click)="changeTheme('theme-sandybrown')">marrón claro</button>
<button (click)="changeTheme('theme-gray')">gris</button>
   
<select [(ngModel)]="selectedLang" (ngModelChange)="changeLanguage()">
  <option value="es">Español</option>
  <option value="en">English</option>
</select>
<button class="btn btn-primary mt-4" (click)="exportPDF()">Descargar PDF</button>
